{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
